body,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
div,
label,
link,
ul,
li,
table,
strong,
small,
b,
i,
em,
span,
ol,
a,
href,
button,
input,
checkbox,
p,
select,
main,
title,
script {
  font-family: Px437 IBM ISO8;
  font-size: 12pt !important;
  font-weight: normal !important;
  font-kerning: none !important;
  font-size-adjust: none !important;
  font-style: normal !important;
  text-shadow: none !important;
  -webkit-text-size-adjust: auto !important;
  font-smooth: none !important;
  -webkit-font-smoothing: none !important;
  -webkit-text-stroke: 0 !important;
  -webkit-backface-visibility: hidden !important;
  -moz-backface-visibility: hidden !important;
  -ms-backface-visibility: hidden !important;
}
i {
  font-family: fontawesome !important ;
  text-shadow: rgb(1, 1, 1) !important;
}
